* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", sans-serif;
}

body {
    position: relative;
}

/* Header */
.header-wrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    height: 89px;
    z-index: 999;
}

.mobile-header {
    display: none;
}

.navbar {
    display: flex;
}

.navbar ul {
    list-style: none;
    width: 110px;
}

.navbar ul:nth-child(2) {
    width: 124px;
}

.navbar ul li a {
    color: #c5c5c5;
    text-align: center;
    letter-spacing: .1px;
    text-transform: uppercase;
    cursor: pointer;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 12px;
    font-weight: 300;
    line-height: 12px;
    text-decoration: none;
    display: flex;
}

.mobile-menu-btn {
    display: none;
}

.header-wrapper p {
    width: 60vw;
    color: #c5c5c5;
    letter-spacing: .1px;
    font-weight: 300;
    line-height: 15px;
    position: fixed;
    align-items: flex-start;
    z-index: 6;
    inset: 10px 0% auto auto;
    margin-left: auto;
    margin-right: auto;
}

.header-wrapper>a {
    background-color: #dfc1ff;
    border-radius: 2px;
    width: auto;
    padding: 0 10px;
    text-decoration: none;
    display: flex;
}

.header-wrapper>a>img {
    width: 10px;
}

.header-wrapper>a>span {
    color: #000;
    padding: 8px 0 8px 6px;
    text-align: center;
    letter-spacing: .1px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
    line-height: 12px;
}

/* Hero Section */
.hero-section-wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.black-div {
    width: 100%;
    height: 89px;
    background-color: #000;
    margin-bottom: -5px;
}

.embed-video-desktop {
    width: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}

.embed-video-mobile {
    display: none;
}

.embed-video-desktop>video {
    width: 115vw;
    height: auto;
}

.hero-section-content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo-wrapper>img {
    width: 101vw;
    position: relative;
    left: 0.5vw;
}

.heading-scroll {
    width: 100%;
}

.heading-scroll>h2 {
    color: #fff;
    letter-spacing: -.6px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 28px;
    font-weight: 300;
    line-height: 1;
}

.trusted-content {
    justify-content: center;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
    text-decoration: none;
    display: flex;
    gap: 13px;
}

.trusted-logo {
    width: 160px;
    margin-right: 13px;
}

.trusted-content>p {
    color: #fff;
    font-size: 11px;
    font-weight: 200;
    line-height: 12px;
}


.blank-space {
    width: 100%;
    height: 50vh;
}

/* Partner Section, Second Section */
.value-section {
    z-index: 1;
    color: #fff;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
}

.partners-wrapper {
    display: flex;
    gap: 3.5vw;
    top: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.partners-wrapper>img {
    width: auto;
    height: 24px;
}

/* .partners-content */
.partners-content>h2 {
    color: #000;
    letter-spacing: -.5px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 24px;
}

.partners-content>div {
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

.partners-content>div>h2 {
    letter-spacing: -.4vw;
    font-size: 6vw;
    font-weight: 400;
    line-height: .9;
    color: #000;
    text-transform: uppercase;
    display: inline-block;
}

.char {
    display: inline-block;
    filter: blur(8px);
    opacity: 0.1;
    will-change: filter, opacity;
}

.partners-content>div>video {
    margin: 7px;
    width: 5vw;
}

.bottom {
    width: 100%;
    height: 100vh;
    background-color: white;
}


/* Responsive */

@media (max-width: 991px) {

    /* Mobile Header */
    .mobile-menu-btn {
        display: block;
        position: relative;
        width: 60px;
        height: 60px;
        cursor: pointer;
        margin-top: -10px;
        margin-left: -10px;
        mix-blend-mode: difference;
    }


    .mobile-menu-btn>div {
        background-color: #ccc;
        width: 30px;
        height: 1px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .mobile-btn-wrapper {
        position: relative;
        z-index: 999;
        mix-blend-mode: difference;
        position: fixed;
        left: 0;
        top: 0;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-wrapper {
        justify-content: flex-end;
    }


    .mobile-menu-btn>div:first-child {
        top: 27px;
    }

    .mobile-menu-btn>div:last-child {
        top: 33px;
    }

    .header-wrapper {
        overflow: hidden;
    }



    .header-wrapper {
        height: 38px;
    }

    .black-div {
        height: 100%;
    }

    .logo-wrapper>img {
        left: 0;
    }

    .logo-wrapper {
        width: 100%;
        height: 189px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .header-wrapper p,
    .navbar {
        display: none;
    }


    .embed-video-mobile {
        width: 100%;
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        display: flex;
    }

    .embed-video-mobile>video {
        width: 110vw;
        height: auto;
    }

    .embed-video-desktop {
        display: none;
    }

    .mobile-header {
        width: 100%;
        height: 100vh;
        padding: 0 10px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 998;
        background-color: #fff;
    }

    .mobile-header>ul {
        list-style: none;
        padding-top: 90px;
    }

    .mobile-header>ul>li>a {
        color: #000;
        font-size: 20px;
        text-decoration: none;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-top: 2px;
        margin-bottom: 2px;
        display: flex;
        line-height: 12px;
    }

    .header-social-links {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .mobile-header>div {
        display: flex;
        flex-direction: column;
    }


    .mobile-header>div>img {
        width: 100%;
    }

    .header-social-links>a {
        letter-spacing: .1px;
        text-transform: uppercase;
        padding-top: 3px;
        padding-bottom: 3px;
        font-size: 12px;
        font-weight: 300;
        line-height: 12px;
        text-decoration: none;
        color: #000;
    }

    /* ---------- Hamburger to X animation ---------- */
    .mobile-menu-btn {
        transition: all 0.3s ease;
    }

    .mobile-menu-btn>div {
        height: 2px;
        /* slightly thicker for visibility */
        transition: all 0.4s ease;
    }

    /* When Active (turns into X) */
    .mobile-menu-btn.active>div:first-child {
        transform: translateX(-50%) rotate(45deg);
        top: 26px;
    }

    .mobile-menu-btn.active>div:last-child {
        transform: translateX(-50%) rotate(-45deg);
        top: 26px;
    }

    /* ---------- Mobile Menu Slide Animation ---------- */
    .mobile-header {
        top: -110%;
        transition: top 0.5s ease;
    }

    .mobile-header.active {
        top: 0;
    }

    .header-wrapper {
        background-color: transparent;
    }


}

@media (max-width: 767px) {
    .heading-scroll>h2 {
        padding-left: 18px;
        padding-right: 18px;
        font-size: 20px;
    }

    .partners-content>div>h2 {
        letter-spacing: -1px;
        font-size: 30px;
    }
}

@media screen and (max-width: 479px) {
    .heading-scroll {
        position: absolute;
        inset: auto 0% 30vh;
    }

    .hero-section-content {
        position: relative;
    }

    .heading-scroll>h2 {
        margin-bottom: 27px;
        line-height: 1.1;
    }

    .trusted-content {
        flex-direction: column;
        gap: 11px;
    }

    .partners-content>h2 {
        line-height: 20px;
    }

    .partners-content {
        padding: 0 12px;
    }

    .mobile-header>div{
        padding-bottom: 50px;
    }
}